/* *{
    margin: 0;
    padding: 0;

}
main{
    font-family: Helvetica;
}
.bloco{
    width: 270px;
    margin: 10px;
    padding: 15px 15px 30px 15px;
    color: white;
}
#bloco-1{
    background-color: rgb(176, 115, 0);
    border: 5px solid rgb(230,188,112);
    display: block;
}
#bloco-2{
    background-color: rgb(30, 170, 22);
    border: 5px solid rgb(127, 244, 119);
    display: block;
}
#bloco-3{
    background-color: rgb(37, 110, 33);
    border: 5px dashed rgb(26, 169, 15);
    display: block;
}
#bloco-4{
    background-color: rgb(255, 77, 0);
    border: 5px dashed rgb(169, 110, 15);
    display: block;
} */


*{
    margin: 0;
    padding: 0;
}
main{
    font-family: Helvetica;  
}
.bloco{
    width: 270px;
    margin: 10px;
    padding: 15px 15px 30px 15px;
    color: white;
}
#bloco-1{
    background-color: rgb(176, 115, 0);
    border: 5px solid rgb(230,188,112);
    display: block;
}
#bloco-2{
    background-color: rgb(45, 107, 42);
    border: 5px solid rgb(104, 214, 81);
    display: block;
}
#bloco-3{
    background-color: rgb(27, 60, 30);
    border: 5px dashed rgb(19, 168, 19);
    display: block;
}
#bloco-4{
    background-color: rgb(255, 0, 0);
    border: 5px dashed rgb(206, 184, 217);
    display: block;
}